.Home_container{
    height: 90vh;
    display: grid;
    grid-template-columns: minmax(620px,1fr) minmax(400px,1fr);
    grid-template-rows: 2fr;
    gap:0 30px;
}

.Home_content{
    display: flex;
    flex-direction: column;
    align-items: flex-center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5%;
}

.Home_image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home_image .image{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #666667;
}

.Home_image .image .top-left{
    position: absolute;
    height: 40px;
    width: 40px;
    border-left: 4px solid #0B0C10;
    border-top: 4px solid #0B0C10;
    left: -20px;
    top: -20px;
}

.Home_image .image .top-right{
    position: absolute;
    height: 40px;
    width: 40px;
    border-right: 4px solid #0B0C10;
    border-top: 4px solid #0B0C10;
    right: -20px;
    top: -20px;
}

.Home_image .image .bottom-right{
    position: absolute;
    height: 40px;
    width: 40px;
    border-right: 4px solid #0B0C10;
    border-bottom: 4px solid #0B0C10;
    right: -20px;
    bottom: -20px;
}

.Home_image .image .bottom-left{
    position: absolute;
    height: 40px;
    width: 40px;
    border-left: 4px solid #0B0C10;
    border-bottom: 4px solid #0B0C10;
    left: -20px;
    bottom: -20px;
}

.Home_title{
    min-width: 580px;
    font-weight: 800;
    font-size: 40px;
    color: #0B0C10;
}

.Specialty{
    padding-left: 0;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

.Specialty li{
    position: relative;
    top: 0;
    list-style: none;
    font-weight: 800;
    font-size: 40px;
    color: #666667;
    animation: slide 10.5s steps(3) infinite;
}

@keyframes slide {
    100%{
        top: -180px;
    }
}

.Specialty li span{
    position: relative;
    display: inline-block;
    height: 60px;
}

.Specialty li span::after{
    content: "";
    height: 100%;
    width: 100%;
    background: #e3e3e3;
    border-left: 2px solid #666667;
    position: absolute;
    left: 0;
    animation: typing 3.5s steps(23) infinite;
}

@keyframes typing {
    100%{
        left: 100%;
        margin-left: 40px;
    }
}

.Home_description{
    position: relative;
    width: 100%;
    color: #0B0C10;
    margin-top: 15px;
    margin-left: 12px;
    padding-right: 12px;
    font-size: 18px;
}

.Home_description::after{
    content: "";
    height: 100%;
    width: 4px;
    position: absolute;
    left: -12px;
    top: 0;
    background: #0B0C10;
    border-radius: 2px;   
}

.Home_icons{
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    gap: 20px;
}

.icon{
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}

.github{
    background-image: url('C:\Users\RALVA\portfolio\public\github.png');
}

.facebook{
    background-image: url('C:\Users\RALVA\portfolio\public\facebook.png');
}

.whatsapp{
    background-image: url('C:\Users\RALVA\portfolio\public\whatsapp.png');
}

.telegram{
    background-image: url('C:\Users\RALVA\portfolio\public\telegram.png');
}







@media(max-width: 620px){
    .Home_container{
        height: 92vh;
        grid-template-rows: auto;
        grid-template-columns: 100%;
        gap: 20px 0;
    }

    .Home_content{
        padding: 0;
        grid-row: 1/2;
        justify-content: flex-end;
    }

    .Home_title{
        min-width: auto;
        font-size: 28px;
        padding-top: 10px;
    }

    .Specialty{
        height: 45px;
        line-height: 45px;
    }
    
    .Specialty li{
        font-size: 28px;
    }
    
    @keyframes slide {
        100%{
            top: -135px;
        }
    }
    
    .Specialty li span{
        position: relative;
        display: inline-block;
        height: 45px;
    }

    @keyframes typing {
        100%{
            left: 100%;
            margin-left: 20px;
        }
    }

    .Home_description{
        font-size: 16px;
    }
    
    .Home_image{
        grid-row: 2/3;
        padding: 20px 0;
    }

    .Home_image .image{
        width: 240px;
        height: 240px;
    }

    .Home_icons{
        height: fit-content;
        padding-bottom: 10px;
        grid-row: 3/4;
    } 

    .icon{
        width: 40px;
        height: 40px;
    }
}

@media(min-width: 621px) and (max-width: 1110px){
    .Home_container{
        height: 91vh;
        grid-template-rows: 3fr;
        grid-template-columns: 100%;
        gap: 30px 0;
    }
    .Home_content{
        grid-row: 1/2;
    }
    
    .Home_image{
        margin-top: 20px;
        grid-row: 2/3;
        padding: 20px 0;
    }

    .Home_image .image{
        width: 350px;
        height: 350px;
    }

    .Home_icons{
        height: fit-content;
        padding-bottom: 30px;
        grid-row: 3/4;
    } 

    .icon{
        width: 45px;
        height: 45px;
    }
}

@media(min-width: 1367px) and (max-width: 1500px){    /*DONE*/
    .Home_container{
        height: 92vh;
        grid-template-columns: minmax(770px,1fr) minmax(400px,1fr);
    }

    .Home_title{
        min-width: 100%;
        font-weight: 800;
        font-size: 50px;
        color: #0B0C10;
    }

    .Specialty{
        height: 80px;
        line-height: 80px;
    }
    
    .Specialty li{
        font-size: 50px;
    }
    
    @keyframes slide {
        100%{
            top: -240px;
        }
    }
    
    .Specialty li span{
        position: relative;
        display: inline-block;
        height: 80px;
    }

    .Home_description{
        font-size: 20px;
    }

    .Home_image .image{
        width: 400px;
        height: 400px;
    }

    .Home_icons{
        display: flex;
        height: 25vh;
        align-items: flex-start;
        padding-top: 7vh;
    }

    .icon{
        width: 50px;
        height: 50px;
    }
}

@media(min-width: 1500px){    /*DONE*/
    .Home_container{
        height: 92vh;
        grid-template-columns: minmax(770px,1fr) minmax(400px,1fr);
    }

    .Home_title{
        min-width: 100%;
        font-weight: 800;
        font-size: 50px;
        color: #0B0C10;
    }

    .Specialty{
        height: 80px;
        line-height: 80px;
    }
    
    .Specialty li{
        font-size: 50px;
    }
    
    @keyframes slide {
        100%{
            top: -240px;
        }
    }
    
    .Specialty li span{
        position: relative;
        display: inline-block;
        height: 80px;
    }

    .Home_description{
        font-size: 20px;
    }

    .Home_image .image{
        width: 400px;
        height: 400px;
    }

    .Home_icons{
        display: flex;
        height: 25vh;
        align-items: flex-start;
        padding-top: 7vh;
    }

    .icon{
        width: 50px;
        height: 50px;
    }
}