.Home_container{
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr auto;
    gap: 30px 30px;
}

.Home_content{
    display: flex;
    flex-direction: column;
    align-items: flex-center;
    justify-content: center;
    padding-top: 30px;
}

.Home_image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.Home_image .image{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #666667;
}

.Home_image .image .top-left{
    position: absolute;
    height: 40px;
    width: 40px;
    border-left: 4px solid #0B0C10;
    border-top: 4px solid #0B0C10;
    left: -20px;
    top: -20px;
}

.Home_image .image .top-right{
    position: absolute;
    height: 40px;
    width: 40px;
    border-right: 4px solid #0B0C10;
    border-top: 4px solid #0B0C10;
    right: -20px;
    top: -20px;
}

.Home_image .image .bottom-right{
    position: absolute;
    height: 40px;
    width: 40px;
    border-right: 4px solid #0B0C10;
    border-bottom: 4px solid #0B0C10;
    right: -20px;
    bottom: -20px;
}

.Home_image .image .bottom-left{
    position: absolute;
    height: 40px;
    width: 40px;
    border-left: 4px solid #0B0C10;
    border-bottom: 4px solid #0B0C10;
    left: -20px;
    bottom: -20px;
}

.Home_title{
    font-weight: 900;
    font-size: 45px;
    color: #0B0C10;
}

.Home_specialty{
    font-weight: 900;
    font-size: 45px;
    color: #666667;
}

.Home_description{
    position: relative;
    color: #0B0C10;
    margin-top: 10px;
    margin-left: 12px;
}

.Home_description::after{
    content: "";
    height: 100%;
    width: 4px;
    position: absolute;
    left: -12px;
    top: 0;
    background: #0B0C10;
    border-radius: 2px;   
}

.Home_icons{
    display: flex;
    justify-content: center;
    grid-column: 1/3;
    gap: 20px;
    padding-bottom: 30px;
}

.github_icon, .telegram_icon, .facebook_icon, .instagram_icon{
    height: 35px;
    color: #0B0C10;
    transition: 0.5s;
}

.github_icon:hover, .telegram_icon:hover, .facebook_icon:hover, .instagram_icon:hover{
    transform: scale(1.15);
}



@media(max-width: 510px){
    .Home_container{
        height: auto;
        grid-template-rows: repeat(3,fit-content);
        grid-template-columns: 100%;
        gap: 20px 0;
    }

    .Home_content{  
        padding-top: 20px;
        grid-row: 1/2;
    }

    .Home_title, .Home_specialty{
        font-size: 35px;
    }

    .Home_specialty{
        height: 100px;
    }
    
    .Home_image{
        grid-row: 2/3;
        padding: 30px 0 20px 0;
    }

    .Home_image .image{
        width: 240px;
        height: 240px;
    }

    .Home_icons{
        padding-bottom: 20px;
        grid-row: 3/4;
    } 
}

@media(min-width: 511px) and (max-width: 874px){
    .Home_container{
        height: auto;
        grid-template-rows: repeat(3,fit-content);
        grid-template-columns: 100%;
        gap: 20px 0;
    }

    .Home_content{
        padding-top: 25px;
        grid-row: 1/2;
    }

    .Home_title, .Home_specialty{
        font-size: 35px;
    }
    
    .Home_image{
        grid-row: 2/3;
        padding: 30px 0 20px 0;
    }

    .Home_image .image{
        width: 270px;
        height: 270px;
    }

    .Home_icons{
        padding-bottom: 20px;
        grid-row: 3/4;
    }
}

@media(min-width: 875px) and (max-width: 1078px){
    .Home_specialty{
        height: 127px;
    }
}