.container{
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1500px;
}





@media(min-width: 1367px) and (max-width: 1500px){    /* DONE*/
    .container{
        padding: 0 75px;
    }
}

@media(min-width: 1500px){  /*DONE*/
    .container{
        background-color: #e3e3e3;
        padding: 0 125px;
    }
}

